# ==========================================================
# YashJodon-Dots
# EditorConfig
# https://editorconfig.org
# ==========================================================

# Top-most EditorConfig file
root = true

# ----------------------------------------------------------
# Default settings
# ----------------------------------------------------------
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# ----------------------------------------------------------
# Markdown
# ----------------------------------------------------------
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# ----------------------------------------------------------
# JSON / JSONC
# ----------------------------------------------------------
[*.{json,jsonc}]
indent_style = space
indent_size = 4

# ----------------------------------------------------------
# YAML
# ----------------------------------------------------------
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# ----------------------------------------------------------
# Shell Scripts
# ----------------------------------------------------------
[*.sh]
indent_style = space
indent_size = 4
end_of_line = lf

# ----------------------------------------------------------
# CSS
# ----------------------------------------------------------
[*.css]
indent_style = space
indent_size = 4

# ----------------------------------------------------------
# Rasi (Rofi)
# ----------------------------------------------------------
[*.rasi]
indent_style = space
indent_size = 4

# ----------------------------------------------------------
# XML
# ----------------------------------------------------------
[*.xml]
indent_style = space
indent_size = 4

# ----------------------------------------------------------
# TOML
# ----------------------------------------------------------
[*.toml]
indent_style = space
indent_size = 4

# ----------------------------------------------------------
# GitHub Actions
# ----------------------------------------------------------
[.github/workflows/*]
indent_style = space
indent_size = 2